*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.orange-col{
    color:#FD6E0A;
}
header{
    background: url("../images/developer.png"),url("../images/header_bg.png"),#FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;

    padding-top: 51px;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    align-items: center;
}
nav h2{
    font-size: 45px;
    font-weight: 900;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 51px;
}
nav ul li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
.btn{
    width: 150px;
    height: 65px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #FD6E0A;
    border: none;
    cursor: pointer;
}

#banner{
    margin: 46px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
    max-height: 356px;
}
#banner .banner-content h2{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    color: #181818;
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}
#banner .banner-content p{
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
    max-width: 584px;
    max-height: 676px;
    vertical-align: middle;
}

#about{
    padding-top: 130px;
}
.about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    background-color: #FFF8F3;
    text-align: center;
    padding: 131px 157px;
}
.about-heading{
    max-width: 827px;
    margin-bottom: 30px;
}
.about-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.about-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}
.about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
    color: #757575;
    font-size: 20px;
    line-height: 30px;
}
.about-info .info-card h4{
    color: #474747;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}


#skill,#resume{
     padding-top: 130px;
}
.skill-container{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    background-color: #FFFFFF;
}
.skill-heading{
    background-color: aquamarine;
}
.section-heading{
    text-align: center;
    margin-bottom: 50px;
}
.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}
.skill-box{
    display: flex;
    gap: 24px;
}
.skill-box .skill-card{
    max-width: 267px;
    max-height: 377px;
    padding: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 6px 50px 0 #0000001b;
}
.skill-box .skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-box .skill-card h3{
    margin-bottom: 20px;
    color: #181818;
    font-size: 20px;
    font-weight: bold;
}
.skill-box .skill-card p{
    color: #757575;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
}

#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 22px;
    
}
.resume-container hr{
    margin: 30px 0;
}
.resume-container .section-title{
    color: #474747;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}
.resume-card .card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}