*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.orange-col{
    color:#FD6E0A;
}
header{
    background-color: #FFF8F3;
    padding-top: 51px;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    align-items: center;
}
nav h2{
    font-size: 45px;
    font-weight: 900;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 51px;
}
nav ul li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
.btn{
    width: 150px;
    height: 65px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #FD6E0A;
    border: none;
}